@charset 'UTF-8';
.sign-in-header {
    z-index: 100;
    position: relative;
}

.signup-header {
    background: $bg--gray;
    line-height: 33px;
    padding: 0 1em .2em;
    width: 100%;
    .fa {
        margin-right: 5px;
    }
}

.logo_on_header {
    float: left;
    img.login-team-logo {
        margin-top: 34px;
        width: 140px;
    }
    img.login-team-logo-mobile {
        margin-top: 15px;
        height: 50px;
        width: 50px;
        border-radius: 4px;
    }
}

@media (min-width: 641px) {
    .hide-on-mobile {
        display: block;
    }
    .hide-on-desktop {
        display: none!important;
    }
}

@media only screen and (min-width: 200px) and (max-width: 640px) {
    .hide-on-mobile {
        display: none!important;
    }
    .hide-on-desktop .hide-on-mobile {
        display: block;
    }
}

.call_on_phone {
    float: right;
    color: #030303;
    margin-top: 34px;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    font-family: 'EkMukta-Bold';
    margin-right: 12px;
    vertical-align: middle;
    a {
        color: #030303 !important;
        &:hover,
        &:active,
        &:focus {
            color: #030303 !important;
            text-decoration: none !important;
        }
    }
    a.start-a-project,
    a.join-our-network {
        font-size: 16px;
        font-family: 'EkMukta-Bold';
        color: #0d65d8 !important;
        margin-left: 64px;
        text-transform: uppercase;
    }
}


.wrap_585px {
    max-width: 1024px;
    margin: 0 auto;
    h2 {
        font-family: 'EkMukta-ExtraLight';
        color: #030303 !important;
        text-transform: none;
        font-size: 42px !important;
        font-weight: 200 !important;
        width: 100%;
        text-align: left;
    }
    h4 span {
        width: 100%;
        text-align: left;
        color: #030303 !important;
        font-size: 24px!important;
        letter-spacing: 0.5px!important;
        line-height: 30px!important;
        font-family: "EkMukta-Light";
    }
}

.image-part-on-signin-page {
    float: left;
    // width: 405px;
    padding: 100px 0;
}

.signup-team__container{
    margin: 0 auto;
    float: right;
    max-width: 560px;
    width: 100%;
    text-align: left;
    padding: 100px 0 50px;
    position: relative;
    h1 {
        display: none;
    }
    &.branded {
        @include display-flex;
        @include flex-direction(row);
        max-width: 900px;
        .signup__markdown {
            @include flex(1.3 0 0);
            padding-right: 80px;
            img {
                max-width: 450px;
            }
            p {
                color: lighten($black, 50%);
            }
        }
        .signup__content {
            @include flex(1 0 0);
        }
    }
    &.padding--less {
        padding-top: 50px;
    }
    .form-control:focus {
        // @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6));
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        line-height: 1.3;
    }
    h1 {
        font-weight: 600;
    }
    h2 {
        font-size: em(30px);
        font-weight: 600; // letter-spacing: -.5px;
        font-size: 42px;
        color: #030303;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 600;
        margin: 0 0 1.3em;
    }
    h4 {
        font-size: em(20px);
        font-weight: 600;
        margin-bottom: 1em;
    }
    h5 {
        font-size: em(16px);
    }
    hr {
        margin: 2em 0;
    }
    p {
        color: #555555;
        line-height: 1.5;
        margin-bottom: 1em;
    }
    .input-group {
        &.input-group--limit {
            table-layout: fixed;
            width: 100%;
            .tooltip-inner {
                word-wrap: break-word;
            }
            .form-control {
                display: table-cell;
                text-align: left;
                width: 100%;
            }
            .input-group-addon {
                display: table-cell;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                width: 50%;
            }
        }
    }
    .inner__content {
        margin: 30px 0 20px;
        h5 {
            display: none;
        }
    }
    .block--gray {
        @include border-radius(3px);
        background: #f2f2f2;
        display: inline-block;
        font-weight: 600;
        padding: .85em 1.2em;
    }
    form {
        margin-bottom: .8em;
    }
    .signup-team-confirm__container {
        padding: 100px 0;
    }
    .signup-team-logo {
        // display: block!important;
        margin: 0 0 2em;
        width: 140px;
    }
    .signup-team-login {
        font-weight: 600;
        padding-bottom: 10px;
        margin: 0 10px;
    }
    @media only screen and (min-width: 200px) and (max-width: 640px) {
        .signup-team-login {
            width: 100%;
            text-align: center;
            display: block;
            margin: 10px 0 0 0;
        }
    }
    .signup-team__name {
        font-size: 2.2em;
        font-weight: 600;
        margin: .5em 0 0;
    }
    .signup-team__subdomain {
        font-size: 1.5em;
        font-weight: 300;
        margin: .2em 0 1.2em;
        text-transform: uppercase;
    }
    .form-control {
        // height: em(38px);
        height: 56px !important;
        margin: 10px !important;
        color: #030303!important;
        border-radius: 8px !important;
        background-color: rgb(255, 255, 255) !important;
        border: 1px solid rgb(235, 235, 235) !important;
        &::-webkit-input-placeholder {
            font-size: 16px !important;
            font-family: 'MarkPro-Book' !important;
        }
    }
    .or__container {
        background: #dddddd;
        height: 1px;
        margin: 2em 0;
        margin: 2.5em 0 2.5em -1rem;
        text-align: left;
        span {
            background: #ffffff;
            display: inline-block;
            font-size: 1.14286em;
            font-weight: 600;
            line-height: 20px;
            position: relative;
            text-align: center;
            top: -10px;
            width: 40px;
        }
    }
    ul {
        margin-bottom: 0;
        padding-left: 18px;
    }
    #loginButton,
    #passwordResetButton,
    .btn {
        background: #0d65d8 !important; // background-color: #0d65d8;
        padding: 12px 42px !important;
        color: #FFFFFF !important;
        font-size: 14px !important;
        font-family: 'EkMukta-Bold' !important;
        border-radius: 4px !important;
        letter-spacing: 1.8px !important;
        outline: none !important;
        border: none !important;
        -webkit-appearance: none !important;
        margin-top: 50px;
        text-transform: uppercase;
        .fa {
            font-size: 17px;
            margin-right: 8px;
            &.fa--margin-top {
                position: relative;
                top: 2px;
            }
        }
        .icon {
            @include background-size(100% 100%);
            display: inline-block;
            height: 18px;
            margin-right: 8px;
            position: relative;
            text-align: center;
            top: -1px;
            width: 18px;
        }
        &.btn-custom-login {
            @include border-radius(2px);
            color: $white;
            display: block;
            height: 40px;
            line-height: 36px;
            margin: 1em 0;
            min-width: 200px;
            padding: 0 1em 0 2em;
            text-align: left;
            width: 200px;
            >span {
                position: relative;
                top: 11px;
                vertical-align: top;
                >span {
                    display: inline-block;
                    line-height: normal;
                    vertical-align: top;
                }
            }
            &.gitlab {
                background: #554488;
                &:hover {
                    background: darken(#554488, 10%);
                }
                span {
                    vertical-align: middle;
                }
                .icon {
                    background-image: url('../images/gitlabLogo.png');
                }
            }
            &.google {
                background: #dd4b39;
                &:hover {
                    background: darken(#dd4b39, 10%);
                }
                span {
                    vertical-align: middle;
                }
                .icon {
                    background-image: url('../images/googleLogo.png');
                }
            }
            &.office365 {
                background: #0079d6;
                &:hover {
                    background: darken(#0079d6, 10%);
                }
                span {
                    vertical-align: middle;
                }
                .icon {
                    background-image: url('../images/office365Logo.png');
                }
            }
            &.ldap {
                background: #3AA1CF;
                &:hover {
                    background: darken(#3AA1CF, 10%);
                }
                span {
                    vertical-align: middle;
                }
            }
            &.email {
                background: $primary-color;
                &:hover {
                    background: $primary-color--hover;
                }
                span {
                    vertical-align: middle;
                }
            }
            &.saml {
                background: #34a28b;
                &:hover {
                    background: darken(#34a28b, 10%);
                }
                span {
                    vertical-align: middle;
                }
            }
            &.btn--full {
                max-width: 350px;
                padding-left: 35px;
                text-align: left;
                width: 100%;
            }
            &.btn--large {
                width: 300px;
            }
        }
        &.btn-default {
            color: #444444;
        }
        .fa {
            position: relative;
            &.fa-check,
            &.fa-refresh {
                font-size: .9em;
                left: -2px;
                margin-right: .5em;
            }
            &.fa-chevron-right {
                font-size: .8em;
                right: -5px;
                top: 0;
            }
            &.fa-chevron-left {
                font-size: .8em;
                left: -2px;
                top: 0px;
            }
        }
    }
    .has-error {
        .control-label {
            // @include border-radius(3px);
            // background: #f2f2f2;
            color: red;
            font-size: 14px;
            font-weight: normal;
            // margin: 1em 0 0;
            // padding: .7em 1em;
            width: 100%;
            &:before {
                @extend %font-awesome;
                color: red;
                content: '\f071';
                margin-right: 10px;
            }
        }
    }
    .reset-form {
        @include border-radius(3px);
        font-size: .95em;
        position: relative;
        p {
            color: inherit;
        }
    } // Modifier Styles
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &.margin--top-none {
            margin-top: 0;
        }
        &.margin--bottom-none {
            margin-bottom: 0;
        }
        &.margin--less {
            margin-bottom: .3em;
        }
        &.sub-heading {
            font-weight: 400;
            margin-bottom: 0;
        }
        &.color--light {
            font-weight: 300;
        }
    }
    p {
        &.margin--extra {
            margin-bottom: 1.5em;
        }
        &.margin--less {
            margin-bottom: .3em;
        }
        .black,
        &.black {
            color: #000000;
        }
    }
    .color--light {
        color: #777777;
    }
    .margin--extra {
        margin-top: 2.5em;
    }
    .margin--extra-2x {
        margin-top: 5em;
    }
}

.signup-team-all {
    @include border-radius(2px);
    border: 1px solid #dddddd;
    margin: 0 0 20px;
    .signup-team-dir {
        background: #fafafa;
        border-top: 1px solid #d5d5d5;
        overflow: hidden;
        &:first-child {
            border: none;
        }
        .icon {
            cursor: pointer;
            float: left;
            margin: 16px 7px 0 15px;
            opacity: .45;
            svg {
                height: 20px;
                width: 20px;
            }
        }
        a {
            color: inherit;
            display: block;
            font-size: 1.1em;
            height: 3.5em;
            line-height: 3.6em;
            padding: 0 15px;
        }
    }
    .signup-team-dir-err {
        background: #fafafa;
        border-top: 1px solid #d5d5d5;
        color: inherit;
        padding: 5px 15px;
        &:first-child {
            border: none;
        }
    }
    .signup-team-dir__name {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 50px);
    }
    .signup-team__icon {
        color: $dark-gray;
        float: right;
        font-size: 1.5em;
        line-height: 25px;
        position: relative;
        top: .66em;
        &.fa-spin {
            font-size: .9em;
            right: -2px;
            top: 16px;
        }
        &.fa-info-circle {
            float: left;
            line-height: 1.5em;
            margin-right: .3em;
            padding-left: .5em;
            font-size: 1.5em;
            top: 11px;
        }
    }
}

.authorize-box {
    border: 1px solid $black;
    height: 280px;
    margin: 100px auto;
    width: 500px;
}

.authorize-inner {
    padding: 20px;
}

.authorize-btn {
    margin-right: 6px;
}

.verify_panel {
    margin: 60px auto auto;
    max-width: 380px;
}


.signup__email-container .form-control,
.signup-team__container .reset-password {
    cursor: auto;
    border: none!important;
    border-radius: 0 !important;
    border-bottom: solid 1px #f0f0f0 !important;
    background: #FFF!important;
    outline: none!important;
    transition: none !important;
    font-size: 24px !important;
    box-shadow: none !important;
    -webkit-appearance: none!important;
    margin: 0px !important;
    color: #030303 !important;
    font-family: "EkMukta-ExtraLight" !important;
    padding-left: 40px !important;
}

.signup__email-container .form-group {
    position: relative;
}

.signup-team__container .form-group {
    position: relative;
}

.form-group .user-email {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    top: 22px;
    background: url('https://s3.ap-south-1.amazonaws.com/1thing-logos/signin-email-icon.svg') left top no-repeat !important;
}

.form-group .user-password {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    top: 22px;
    background: url('https://s3.ap-south-1.amazonaws.com/1thing-logos/signin-password-icon.svg') left top no-repeat !important;
}


.signup__email-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.signup__email-container input::-webkit-input-placeholder {
    font-family: "EkMukta-ExtraLight" !important;
    font-size: 24px !important;
    /* WebKit, Blink, Edge */
    color: #7f7f7f!important;
}

.signup__email-container input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: "EkMukta-ExtraLight" !important;
    font-size: 24px !important;
    color: #7f7f7f!important;
    opacity: 1;
}

.signup__email-container input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: "EkMukta-ExtraLight" !important;
    color: #7f7f7f!important;
    font-size: 24px !important;
    opacity: 1;
}

.signup__email-container input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "EkMukta-ExtraLight" !important;
    color: #7f7f7f!important;
    font-size: 24px !important;
}

.signup__email-container input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "EkMukta-ExtraLight" !important;
    color: #7f7f7f!important;
    font-size: 24px !important;
}
.signup__email-container #createAccountButton{

}
