@charset 'UTF-8';
.btn {
    @include single-transition(all, .25s, ease-in);
    @include border-radius($border-rad);
    padding: 12px 32px 10px 32px;
    &.btn-primary {
        background: #0d65d8 !important; // background-color: #0d65d8;
        padding: 12px 42px !important;
        color: #FFFFFF !important;
        font-size: 14px !important;
        font-family: 'EkMukta-Bold' !important;
        border-radius: 4px !important;
        letter-spacing: 1.8px !important;
        outline: none !important;
        border: none !important;
        -webkit-appearance: none !important;
        margin-top: 50px;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            color: #FFF !important;
        }
    }
    &.btn-default {
        background: alpha-color($black, .7);
        color: $white;
        border-color: transparent;
        color: $white;
        padding: 12px 42px !important;
        font-size: 14px !important;
        font-family: 'EkMukta-Bold' !important;
        border-radius: 4px !important;
        letter-spacing: 1.8px !important;
        &:hover,
        &:focus,
        &:active {
            background: alpha-color($black, .8);
            color: $white;
        }
    }
    &.btn-danger {
        color: $white;
        .app__body & {
            color: $white;
            &:hover,
            &:focus,
            &:active {
                color: $white;
            }
        }
        &:hover,
        &:focus,
        &:active {
            color: $white;
        }
    }
    &.btn-inactive {
        background: $light-gray;
        border-color: transparent;
        color: $white;
        padding: 12px 42px !important;
        font-size: 14px !important;
        font-family: 'EkMukta-Bold' !important;
        border-radius: 4px !important;
        letter-spacing: 1.8px !important;
    }
}

.comment-btn {
    display: none;
}
