@charset 'UTF-8';
.dropdown-menu {
    border-radius: $border-rad;
    border: none!important;
    background: #FFFFFF!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10)!important;
    border-radius: 8px!important;
    &.colorpicker {
        min-width: 125px;
        z-index: 2500;
    }
    .fa {
        @include opacity(.6);
        margin-right: 5px;
    }
    .divider {
        background: #F0F0F0!important;
        & + .divider {
            display: none;
        }
        &:last-child {
            display: none;
        }
    }
    div,
    li {
        > a {
            color: inherit;
            text-decoration: none;
            font-size: 12px!important;
            color: #7f7f7f!important;
            background: #FFFFFF!important;
            font-family: "EkMukta-Bold";
            padding: 8px 20px 7px 20px!important;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            &:focus,
            &:hover {
                color: #030303!important;
                background: #F0F0F0!important;
            }
        }
    }
}

.open {
    > .dropdown-menu__content {
        display: block;
        > .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-menu__content {
    display: none;
}
