@charset 'UTF-8';
.file-preview__container {
    // height: 100px !important;
    margin: 1px 0 0 0px;
    padding-bottom: 10px;
    min-height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid #F0F0F0;

    .text_to_upload_images {
        font-size: 24px;
        color: #030303;
        font-family: "EkMukta-Light";
        margin: 10px 0 8px 0;
    }
}

.file-preview {
    @include clearfix;
    border: 1px solid $light-gray;
    display: inline-block;
    height: 100px;
    margin: 0 0 0 10px;
    position: relative;
    width: 100px;
    border-radius: 4px;
    &:first-child {
        margin-left: 0;
    }
    .spinner {
        height: 32px;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        position: absolute;
        top: 50%;
        width: 32px;
    }
}

.file-preview__image {
    display: block;
    height: auto;
    max-width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.file-preview__remove {
    transition: all .2s ease-in-out;
    background: #FFFFFF !important;
    border-radius: 20px;
    height: 16px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 2px;
    width: 16px;
    border: 1px solid $light-gray; // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    line-height: 1.25;
    img {
        opacity: 0.6;
        margin-top: -5px;
        width: 8px;
        transition: all .2s ease-in-out;
    }
    &:hover {
        background: #fbfbfb !important;
        border: 1px solid #030303;
        img {
            opacity: 1;
        }
    }
}

.image-comment {
    background-position: left top;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

.file-icon {
    height: 100%;
    width: 100%;
    &.audio {
        @include file-icon('../images/icons/audio.png');
    }
    &.video {
        @include file-icon('../images/icons/video.png');
    }
    &.ppt {
        @include file-icon('../images/icons/ppt.png');
    }
    &.generic,
    &.svg {
        @include file-icon('https://s3.ap-south-1.amazonaws.com/1thing-logos/generic.svg');
    }
    &.code {
        @include file-icon('https://s3.ap-south-1.amazonaws.com/1thing-logos/code.svg');
    }
    &.excel {
        @include file-icon('https://s3.ap-south-1.amazonaws.com/1thing-logos/excel.svg');
    }
    &.word {
        @include file-icon('https://s3.ap-south-1.amazonaws.com/1thing-logos/doc.svg');
    }
    &.pdf {
        @include file-icon('https://s3.ap-south-1.amazonaws.com/1thing-logos/pdf.svg');
    }
    &.patch {
        @include file-icon('../images/icons/patch.png');
    }
    &.image {
        @include file-icon('../images/icons/image.png');
    }
}

.pdf-preview-spacer {
    height: 5px;
}

.pdf-max-pages {
    background: $white;
    bottom: 0;
    display: block;
    left: 0;
    position: relative;
    width: 100%;
    span {
        @include border-radius(3px);
        background: alpha-color($black, .8);
        bottom: 15px;
        color: $white;
        display: inline-block;
        height: 3em;
        line-height: 3em;
        padding: 0 1.5em;
        position: relative;
    }
}

.post-image__columns {
    width: 450px;
}

.post-image__column {
    // border: 1px solid alpha-color($black, .08)!important;
    float: left;
    height: 350px;
    margin: 0.5em 0em 0 0 !important;
    position: relative;
    width: 450px;
    border-radius: 4px;
    overflow: hidden!important;

    &--placeholder {
        visibility: hidden;
    }
    &.image {
        border: 1px solid rgb(240, 240, 240) !important;
    }
    &.pdf {
        background-image: linear-gradient(-110deg, #F6E6E5 0%, #FCBAB4 100%);
    }
    &.generic,
    &.svg,
    &.other,
    &.ppt,
    &.video,
    &.audio,
    &.image,
    &.patch {
        background-image: linear-gradient(-139deg, #CBCBE8 0%, #E6DEE9 90%);
    }
    &.code {
        background-image: linear-gradient(36deg, #DEEAFB 0%, #ACCBEE 100%);
    }
    &.word {
        background-image: linear-gradient(-137deg, #ACCBEE 0%, #E7F0FD 100%);
    }
    &.spreadsheet {
        background-image: linear-gradient(44deg, #B3F1ED 0%, #59D8D2 100%);
    }
}

.post-image__load {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 100%;
    width: 100%;
}

.post-image {
    background-color: $white;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px!important;
    width: 100%;
    border: none;
    background-size: cover; // border: 1px solid rgba(0, 0, 0, 0.08)!important;
    &.small {
        background-position: center;
    }
    &.normal {
        background-position: center;
    }
    .spinner {
        .file__loading {
            left: 50%;
            margin-left: -16px;
            margin-top: -16px;
            position: absolute;
            top: 50%;
        }
    }
    .file__loaded {
        max-width: initial;
        &.landscape,
        &.quadrat {
            height: 100px;
        }
        &.portrait {
            width: 120px;
        }
    }
}

.post-image__thumbnail {
    cursor: -webkit-zoom-in !important;
    float: left;
    height: 100%;
    width: 100%; // border-bottom: 1px solid #dedede;
}

.post-image__details {
    @include clearfix;
    background: transparent !important;
    color: alpha-color($black, .8);
    float: left;
    border-radius: 0 0 4px 4px !important;
    position: relative;
    font-size: 13px;
    height: 20%;
    padding: 16px;
    padding-top: 40px;
    width: 100%;
    word-break: break-word;
    border: none !important;
    position: absolute;
    left: 0px;
    bottom: 0px;

    .download-icon-others {
        display: block !important;
    }
    .download-icon-image {
        display: none !important;
    }


    &.image {
        background: rgba(0, 0, 0, 0.4) !important;
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 0) 39%, rgba(69, 72, 77, 0.53) 99%, rgba(0, 0, 0, 0.54) 100%) !important;
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0) 39%, rgba(69, 72, 77, 0.53) 99%, rgba(0, 0, 0, 0.54) 100%) !important;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(69, 72, 77, 0) 39%, rgba(69, 72, 77, 0.53) 99%, rgba(0, 0, 0, 0.54) 100%) !important;
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045484d', endColorstr='#8a000000', GradientType=0);
        /* IE6-9 */
        .download-icon-others {
            display: none !important;
        }
        .download-icon-image {
            display: block !important;
        }
        .post-image__name {
            color: #FFF !important;
        }
    }
    >div {
        position: absolute;
        bottom: 9px;
        right: 10px; // width: 100%;
    }
    .post-image__name {
        display: block;
        float: left;
        margin-bottom: 3px;
        opacity: 1;
        font-size: 16px;
        max-width: 80%;
        color: #030303 !important;
        margin-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "EkMukta-Regular";
    }
    .post-image__download {
        // display: none !important;
        @include opacity(1);
        cursor: pointer;
        display: inline-block;
        padding-right: 7px;
        img {
            opacity: 1;
            margin-top: -4px;
        }
        &:hover {
            .post-image__size {
                color: #030303!important;
                text-decoration: none!important;
            }
        }
    }
    .post-image__type {
        @include opacity(.2);
        display: none;
        opacity: 1;
        font-size: 11px;
        margin-left: 4px;
    }
    .post-image__size {
        @include opacity(.2);
        margin-left: 4px;
        display: none !important;
        opacity: 1;
        font-size: 11px;
        text-transform: lowercase!important;
        &:hover {
            color: #030303!important;
            text-decoration: none!important;
        }
    }
}

.file-details__container {
    @include display-flex;
    background: $white;
    .file-details {
        height: 270px;
        padding: 14px;
        text-align: left;
        vertical-align: top;
        width: 320px;
        .file-details__name {
            color: alpha-color($black, .9);
            font-size: 16px;
            margin: 5px 0;
            word-break: break-word;
        }
        .file-details__info {
            color: alpha-color($black, .5);
        }
    }
    .file-details__preview {
        border-right: 1px solid $light-gray;
        height: 270px;
        vertical-align: center;
        width: 320px; // helper to center the image icon in the preview window
        .file-details__preview-helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.file-playback__controls {
    @include single-transition(opacity, .6s);
    bottom: 0;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 5px;
    transition: opacity .6s;
    z-index: 2;
    &.stop {
        @include opacity(0);
    }
}

.view-image__loading {
    background: $black;
    min-height: 100px;
}
