@charset 'UTF-8';
.form-control {
    @include border-radius($border-rad);
    &:focus {
        @include box-shadow(none);
    }
    &.no-padding {
        line-height: 32px;
        padding: 0;
    }
    &.no-resize {
        resize: none;
    }
    &[disabled],
    [readonly] {
        @include alpha-property(background, $white, .1);
        color: inherit;
        cursor: auto;
    }
}

fieldset {
    &[disabled] {
        .form-control {
            @include alpha-property(background, $white, .1);
            color: inherit;
            cursor: auto;
        }
    }
}

.admin-textarea {
    resize: none;
}

input {
    &[type='radio'],
    &[type='checkbox'] {
        font-size: 14px;
        margin-top: 3px;
    }
}

.signup-team__container input.form-control,
input {
    &[type='text'], &[type='search'] {
        box-shadow: none;
        height: 40px;
        border-radius: 8px !important;
        background: #fff !important;
        color: #030303 !important;
        font-family: 'MarkPro-Book' !important;
        &:focus {
            background: #fff!important;
             box-shadow: none!important;
        }
    }
}

input[type='text']::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #7f7f7f!important;
}
input[type='text']:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #7f7f7f!important;
}
input[type='text']::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #7f7f7f!important;
}
input[type='text']:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7f7f7f!important;
}
