@charset 'UTF-8';

a {
    color: $primary-color!important;
    cursor: pointer;
    text-decoration: none;
    word-break: break-word;

    &:hover,
    &:focus {
        color: $primary-color--hover!important;
    }
}

.text-danger {
    color: desaturate($red, 20%);

    &:hover,
    &:focus {
        color: desaturate($red, 20%);
    }
}
