.form-label {
    font-size: 24px;
    font-family: EkMukta-ExtraLight;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #030303;
}
.input-spacing-radio{
    margin-bottom: 8px;
}

.Rectangle-5 {
    width: 133px;
    height: 48px;
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 1px #f0f0f0;
}

.UI-Designer {
    font-family: EkMukta;
    font-size: 14px;
    text-align: left;
    color: #7f7f7f;
}
/*<-----------checkbox css------------->*/
.checkbox-bordered{
    border: solid 1px #030303;
}
.checkbox-unbordered{
    border: solid 1px #f0f0f0;
}
.title-content .checkbox-inline ,.radio-inline{
    margin-bottom: 10px;
    padding-right: 25px;
    font-family: EkMukta-Regular;
    padding-left: 36px;
    margin-right: 8px;
    font-size: 14px;
    text-align: left;
    color: #7f7f7f;
    padding-top: 11px;
    height: 48px;
    border-radius: 100px;
    background-color: #ffffff;
    
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 0;
}
// input[type=radio] {
//   display:none;
// }
// input[type=radio]:not(:checked) ~ div.content{
//     border:1px solid red;
// }
// input[type=radio]:checked ~ div.content{
//   border:1px solid green;
// }
input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border-width: 0;
    transition: all .3s linear;
}
input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border-width: 0;
    transition: all .3s linear;
}
#my-class:checked ~ footer .colorDiv{
    color:red;
}
input[type="checkbox"]:checked {
    background-image: url('../Images/shape.svg');
}
input[type="radio"]:checked {
    background-image: url('../Images/shape.svg');
}

input[type="checkbox"]:focus {
    outline: 0 none;
    box-shadow: none;
}
input[type="radio"]:focus {
    outline: 0 none;
    box-shadow: none;
}
.checkbox-inline span,.radio-inline span {
    vertical-align: sub;
}
/*<-----------radio css----------------->*/
// .title-content .radio-inline {
//     margin-bottom: 10px;
//     padding-right: 25px;
//     font-family: EkMukta;
//     padding-left: 42px;
//     margin-right: 8px;
//     font-size: 14px;
//     text-align: left;
//     color: #7f7f7f;
//     padding-top: 11px;
//     height: 48px;
//     border-radius: 100px;
//     background-color: #ffffff;
    
// }   
input {
    border: none;
    width: 100%;
}
.subcomponent-spacing {
    margin-bottom: 8px;
}

.input-spacing {
    margin-bottom: 48px;
}

.Rectangle-4 {
    width: 141px;
    height: 48px;
    border-radius: 4px;
    background-color: #0d65d8;
    border: solid 2px #0d65d8;
    cursor: pointer;
}

.button-title {
    font-size: 14px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #ffffff;
}

.button-block-class {
    opacity: 0.5px;
    width: 141px;
    height: 48px;
    border-radius: 4px;
    background-color: #0d65d8;
    border: solid 2px #0d65d8;
    cursor: not-allowed;
}
.selection-title{
    color: #7f7f7f;
    opacity: 0.5;
}
select{
    font-size: 24px;
    font-family: EkMukta-Light;
    background: #ffffff;
    width: 100%;
    color: #030303;
    border: none;
    outline: none;
}
option{
    color:#030303; 
}
option span{
    color:#7f7f7f; 
}
.display-error{
    color: #eb444c;
    opacity: 0.5;
}
.title-padding{
    padding-left: 12px;
}