.btn-default:active:focus, .btn-default:active:hover {
  color: #030303 !important;
  font-size: 24px;
  font-family: EkMukta-Light;
  background-color: #ffffff !important;
  border-color: #ffffff !important; }

.btn-default:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #030303 !important; }

.btn-default:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #030303 !important; }

.btn-default:focus {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #030303 !important; }

.btn-default {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #030303 !important;
  color: #030303 !important;
  font-size: 24px;
  font-family: EkMukta-Light;
  background-color: #ffffff !important;
  border-color: #ffffff !important; }

.btn {
  padding: 0; }

.btn-group.open .dropdown-toggle {
  box-shadow: none !important; }

.btn .caret {
  margin-top: 14px; }

.dropdown {
  width: 100% !important; }

.or-copy {
  vertical-align: super;
  line-height: 48px;
  margin-right: 8px; }

.radio-image input[type="checkbox"]:checked {
  background-image: none; }
