.tooltip-container {
  border: 1px solid red; }

.my-tooltip {
  display: none;
  border: 1px solid green;
  background: green;
  z-index: 1111; }

.tooltip-container:hover .my-tooltip {
  display: block;
  background: red; }
