.title-content {
    width: 92%;
    padding-left: 3%;
}

.Onboarding-content-f {
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: EkMukta-Light;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.5px;
    text-align: left;
    color: #030303;
}

