.assign_info_text{
    font-family: 'EkMukta-Light';
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    color: #030303;
    margin-top:16px;
}
.small_info_text{
    font-family: 'EkMukta-Light';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-align: left;
    color: #7f7f7f;
}
.assimnt_box{
    width:100%;
    background-color: #ffffff;
    border: solid 1px #f0f0f0;
    height: 178px;
    display: flex;
}
.Rectangle-6 {
    width: 130px;
    height: 130px;
    opacity: 0.2;
    background-color: #d8d8d8;
    margin-left: 24px;
    margin-top: 24px;
 }
 .margin_top{
     margin-top:8px;
 }
 .margin_left{
     margin-left:190px
 }
 .assmnt_text_marging_le_40{
    margin-left: 40px;
    margin-bottom: 51px;
    margin-top: 9px;
    font-family: 'EkMukta-Light';
    font-size: 24px;
    font-weight: 300;
    line-height: 2;
    text-align: left;
    color: #e5e5e5;
}
.assmnt_text_bottom{
    opacity: 0.2;
    font-family: EkMukta;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: left;
    color: #0d65d8;
    margin-left: 60px;
}
