.radio-group-container {
  display: flex;
  flex-wrap: wrap; }

.radio-circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin: 16px 8px 16px 24px;
  background-color: #f0f0f0; }

.radio-container {
  border: 1px solid #f0f0f0;
  display: flex;
  margin-bottom: 8px;
  border-radius: 100px;
  height: 48px;
  margin-right: 8px; }

.radio-text {
  font-family: EkMukta-Regular;
  font-size: 14px;
  color: #7f7f7f;
  margin-right: 24px;
  line-height: 48px; }

.checked-radio-circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin: 16px 8px 16px 24px;
  background-color: #f0f0f0;
  background: url("../Images/shape.svg"); }

.checked-radio-container {
  border: 1px solid #030303;
  display: flex;
  border-radius: 100px;
  margin-right: 8px;
  height: 48px; }

.checked-radio-text {
  font-family: EkMukta-Regular;
  font-size: 14px;
  color: #030303;
  margin-right: 24px;
  line-height: 48px; }
