.menu {
  // list-style-type: none;
  // height: 20px;
  // margin-top: 0;
  padding-left: 6%; // line-height: 20px;
  margin-left: 8px;
  -webkit-padding-start: 0px;
}

.menu-title {
  // margin-left: 14px;
  font-family: EkMukta-Regular;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: left;
}

.menu-list span {
  font-size: 14px !important;
  margin-left: 3px;
  vertical-align: -webkit-baseline-middle;
}

.menu-list li {
  line-height: 11px;
}

.menu li {
  list-style-type: none;
}

.menu-list-hover {
  line-height: 18px !important;
}

.menu-list-hover div {
  width: 24px !important;
}

.menu-list-hover span {
  font-size: 24px !important;
}

.menu-top-border {
  width: 40px;
  height: 2px;
}

.menu-image {
  background: url('../Images/menu.svg');
  height: 23px;
  width: 23px;
  margin-right: 5px;
  margin-top: 13px;
  background-position: center;
  background-size: cover;
}

// ---------------------------------------------
.cross_menu_img {
  margin-top: 13px;
  background: url('../Images/close.svg');
  height: 23px;
  width: 23px;
  margin-right: 5px;
  background-position: center;
  background-size: cover;
}

.unselected_menu {
  transition: all 0.5s ease;
  font-family: EkMukta-Regular;
  font-size: 18px;
  height: 40px;
  letter-spacing: 2.3px;
  text-align: left;
  /* border: 1px solid; */
  color: #7f7f7f;
  /* padding-right: 32px; */
  padding: 15px 32px 0 0;
}

.unselected_menu:hover {
  color: #36cb3b;
  cursor: pointer;
}

.selected_menu_class {
  font-family: EkMukta-Regular;
  font-size: 24px;
  letter-spacing: 3px;
  height: 40px;
  text-align: left;
  /* border: 1px solid; */
  color: #ffbc00;
  padding: 10px 32px 0px 0;
}

.unselected_menu,
.cross_menu_img, .expand-icon{
  // opacity: 1; 
  animation: smooth1 0.7s linear;
}

.menu-image,.collaps-icon {
  animation: smooth2 0.7s linear;
}

@keyframes smooth1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.panel-collapse{
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
// .panel-collapse{
//   transition-duration: .5s;
//   transition-timing-function: ease-in-out;
// }


// -----------------------popover---------------------------
.menu_container{
  max-width: 328px!important;
  border-radius: 4px;
  background-color: #fff!important;
  border: 1px solid #f0f0f0!important;
}
.menu_container .popover-content {
  width: 300px;
  background-color: #fff;
  color: #030303;
  padding: 0;
  z-index: 100;
  border-radius: 4px;
  position: relative;
}
.menu_links:hover {
  color: #030303!important;
  background-color: #f0f0f0!important;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}
a, a:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.menu_links {
  padding: 18px 24px;
  font-size: 14px;
  font-family: EkMukta-Medium;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.8px;
  text-align: left;
  color: #7f7f7f!important;
  display: block;
  width: 100%;
  cursor: pointer;
}
.menu_container.popover {
  // top: 59px!important;
  // right: 7%!important;
  // left: auto!important;
  top: 100.333px !important; 
  padding: 0!important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  // max-width: 328px!important;
  // position: fixed;
}
.menu_container ul{
  margin: 0;
  list-style: none;
  padding: 0;

}
.manu_container .popover.right > .arrow {
  top: 50% !important;
}
.popover.bottom > .arrow:after, .popover.right > .arrow:after, .popover.top > .arrow:after, .popover.left > .arrow:after {
  border-right-color: #fff !important;
}