.layer {
    margin-top: 16px;
    font-family: EkMukta-Light;
    font-size: 14px;
    // font-weight: 300;
    // font-style: normal;
    // font-stretch: normal;
    // line-height: normal;
    letter-spacing: 0.5px;
    // text-align: left;
    color: #7f7f7f;
    margin-right: 2px;
    // color: var(--warm-grey);
  }
  .tooltip-icon{
    width: 23px;
    height: 28px;
    font-size: 18px;
  }