.layer {
  margin-top: 16px;
  font-family: EkMukta-Light;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #7f7f7f;
  margin-right: 2px; }

.tooltip-icon {
  width: 23px;
  height: 28px;
  font-size: 18px; }
