.link-input::-webkit-input-placeholder{
    outline: none;
    font-size: 24px;
    opacity: 0.5;
    font-family: EkMukta-ExtraLight;
    color: #7f7f7f !important;
}
.link-input{
    outline: none;
    height: 37px;
    font-family: EkMukta-ExtraLight;
    font-size: 24px;
    color: #0d65d8;
}
.Error-link-input::-webkit-input-placeholder{
    outline: none;
    font-size: 24px;
    opacity: 0.5;
    font-family: EkMukta-ExtraLight;
    color: #eb444c !important;
}
.Error-link-input{
    outline: none;
    height: 37px;
    font-family: EkMukta-ExtraLight;
    font-size: 24px;
    color: #0d65d8;
}
.about-link-textares::-webkit-input-placeholder{
    outline: none;
    opacity: 0.5;
    font-family: EkMukta-ExtraLight;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #7f7f7f;
}
.about-link-textares{
    outline: none;
    border: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: EkMukta-ExtraLight;
    color: #030303;
}
.Error-link-textares::-webkit-input-placeholder{
    outline: none;
    opacity: 0.5;
    font-family: EkMukta-ExtraLight;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #eb444c;
}
.Error-link-textares{
    outline: none;
    border: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: EkMukta-ExtraLight;
    color: #030303;
}
.simple-input::-webkit-input-placeholder{
    opacity: 0.5;
    outline: none;
    font-family: EkMukta-ExtraLight;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #7f7f7f;
}
.simple-input{
    outline: none;
    font-family: EkMukta-ExtraLight;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #030303;
}
.Error-input::-webkit-input-placeholder{
    outline: none;
    opacity: 0.5;
    font-family: EkMukta-ExtraLight;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #eb444c;
}
.Error-input{
    outline: none;
    font-family: EkMukta-ExtraLight;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #030303;
}
.add-button-content{
    opacity: 0.5;
    font-family: EkMukta-Regular;
    font-size: 14px;
    text-align: left;
    color: #7f7f7f;
}