@font-face {
  font-family: EkMukta-ExtraLight;
  src: url(./Fonts/ek-mukta.extralight.ttf); }

@font-face {
  font-family: EkMukta-Light;
  src: url(./Fonts/ek-mukta.light.ttf); }

@font-face {
  font-family: EkMukta-Regular;
  src: url(./Fonts/ek-mukta.regular.ttf); }

@font-face {
  font-family: EkMukta-Medium;
  src: url(./Fonts/ek-mukta.medium.ttf); }

@font-face {
  font-family: EkMukta-SemiBold;
  src: url(./Fonts/ek-mukta.semibold.ttf); }

@font-face {
  font-family: EkMukta-Bold;
  src: url(./Fonts/ek-mukta.bold.ttf); }

@font-face {
  font-family: EkMukta-ExtraBold;
  src: url(./Fonts/ek-mukta.extrabold.ttf); }

.progressbar-container {
  margin-top: 32px;
  position: fixed;
  width: 35%;
  right: 0; }

.dashboard-container {
  margin-left: 120px;
  display: flex;
  margin-top: 76px; }

.dashboard-switch-div {
  width: 87%;
  padding-left: 13%; }

.view-container {
  font-family: 'EkMukta-Light';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: left;
  color: #030303;
  line-height: 36px; }

.progress-container {
  padding-left: 33%; }

._header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  font-family: EkMukta-Regular;
  font-size: 16px;
  padding-top: 21px;
  letter-spacing: 2px;
  text-align: left;
  color: #030303;
  padding-bottom: 32px;
  padding-left: 144px;
  z-index: 1; }

.Oval-2 {
  width: 24px;
  height: 24px;
  background-color: #f6f6f6;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(147deg, #feac5e, #c779d0 46%, #4bc0c8);
  border-image-slice: 1;
  padding-right: 10px;
  margin-right: 10px; }

.Oval {
  width: 4px;
  height: 4px;
  opacity: 0.5;
  border-radius: 50%;
  border: solid 1px #7f7f7f;
  margin: auto;
  margin-top: 1px; }

.Oval_md {
  background: #d3d3d3;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: auto;
  margin-top: 2px; }

.check_Oval_md {
  background: url("./Images/checked.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  padding: 12px;
  margin: auto;
  margin-top: 2px;
  opacity: .2; }

.dim_Oval_md {
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #7f7f7f;
  margin: auto;
  opacity: 0.2;
  margin-top: 5px;
  margin-left: 3px; }

.Oval_md_noback {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: auto;
  border: solid 1px #d3d3d3;
  margin-top: 5px; }

.Oval_sm {
  background: #d3d3d3;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
  margin-left: 0px; }

.check_Oval_sm {
  background: url("./Images/checked.svg");
  background-size: 6px 6px;
  background-repeat: no-repeat;
  padding: 3px;
  margin: auto;
  margin-left: 0px;
  margin-top: 5px;
  opacity: .2; }

.dim_Oval_sm {
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #7f7f7f;
  margin: auto;
  margin-left: 0px;
  opacity: .2;
  margin-top: 5px; }

.progress_text_main {
  font-family: EkMukta-Light;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7f7f7f;
  margin: auto;
  padding-left: 6px; }

.progress_text {
  font-family: EkMukta-Light;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7f7f7f;
  margin: auto;
  padding-left: 14px; }

.progress_text_dark {
  font-family: EkMukta-ExtraLight;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #030303;
  margin: auto;
  padding-left: 14px; }

.progress_text_subpart {
  font-family: EkMukta-ExtraLight;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #030303;
  margin: auto;
  padding-left: 26px; }

.progress_text_sub_dim {
  font-family: EkMukta-ExtraLight;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7f7f7f;
  margin: auto;
  padding-left: 26px; }

.progress_text_position {
  font-family: EkMukta-Light;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7f7f7f;
  margin: auto;
  padding: 0px; }

.progress_text_curr_position {
  font-family: EkMukta-Light;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: center;
  margin: auto;
  padding: 0px;
  color: #030303;
  width: 70px;
  border-radius: 2px;
  background-color: #c4d3eb; }

.checked_progress_text {
  font-family: EkMukta-ExtraLight;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7f7f7f;
  text-decoration: line-through;
  margin: auto;
  padding-left: 14px; }

.checked_progress_text_sub {
  font-family: EkMukta-ExtraLight;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7f7f7f;
  text-decoration: line-through;
  margin: auto;
  padding-left: 26px; }

.hide_progress_text {
  display: none; }

.box {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin: auto;
  margin-left: -5px; }

.box:after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  background-image: linear-gradient(147deg, #feac5e, #c779d0 46%, #4bc0c8);
  z-index: -1;
  border-radius: inherit; }

.margin_bu28 {
  margin-bottom: 18px; }

.margin_bu24 {
  margin-bottom: 14px; }

.margin_bu16 {
  margin-bottom: 8px; }

.margin_bu8 {
  margin-bottom: 4px; }

.margin_bu8_subpart {
  display: block;
  margin-left: 4px; }

.margin_bu8_subpart_completed {
  display: none; }

.margin_bu8_subpart_hide {
  display: none; }

.clickable_text {
  border-bottom: 1px solid #030303;
  cursor: pointer; }

.dashboard-sidebar {
  z-index: 2;
  position: fixed;
  top: 0; }

#load {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 9999999;
  background: #0D65D8;
  transform: translateX(100%);
  display: block;
  animation: shift-rightwards 1.5s ease-in-out infinite;
  animation-delay: 2s 0.4s;
  transition: 1s 0.4s; }

#root {
  animation: fade 3s linear forwards; }

.loader {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 800;
  background: #0D65D8;
  transform: translateX(100%);
  display: block;
  animation: shift-rightwards 1.5s ease-in-out infinite;
  animation-delay: .8s; }

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%); }
  40% {
    transform: translateX(0); }
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

.dashboard-active-icon .dashboard-icon {
  border-left: 2px solid #fff; }

.dashboard-active-icon .dashboard-btn-initials {
  background: #fff;
  border-radius: 4px;
  color: #030303; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

._header .simple-input::-webkit-input-placeholder {
  font-size: 16px; }
