@charset 'UTF-8';
.footer-pane {
    text-align: center;
    padding-top: 28px;
    background: $bg--gray;
    padding-bottom: 1em;
    .footer-link {
        padding: 0 1.5em;
        &.copyright {
            color: $dark-gray;
            padding-right: 0;
        }
    }
    .footer-site-name {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.footer,
.footer-pane,
.footer-push {
    height: 89px;
}

#help_link,
#terms_link,
#privacy_link,
#about_link {
    display: none;
}
