@charset 'UTF-8';
.radio,
.checkbox {
    &.margin-bottom--none {
        margin-bottom: 0;
    }
}

.form-horizontal {
    .modal-intro {
        margin: -10px 0 30px;
    }
    .form__label {
        font-size: 0.9em;
        // font-weight: 600;
        padding-right: 3px;
        text-align: left;
        &.light {
            @include opacity(.6);
            font-size: 0.85em;
            font-style: italic;
            font-weight: normal;
            padding-top: 2px;
        }
    }
    .input__help {
        @include opacity(.8);
        color: #7F7F7F;
        font-family: 'EkMukta-Regular';
        font-size: 13px;
        margin: 8px 0 0 16px;
        word-break: break-word;
        &.dark {
            @include opacity(1);
        }
        &.error {
            color: darken($red, 20%);
        }
    }
    .form-control {
        font-weight: normal;
    }
    .form-group {
        margin-bottom: 25px;
        &.less {
            margin-bottom: 10px;
        }
    }
}

.help-block {
    color: $dark-gray;
    font-size: .95em;
    margin: 5px 0 0 10px;
    text-align: left !important;
}

.form-group {
    &.form-group--small {
        margin-bottom: 10px;
    }
}

.has-error {
    .help-block,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        color: $red;
    }

    .control-label {
        color: inherit;
    .form__label {
        &.control-label {
            color: inherit !important;
        }
    }
    &.radio,
    &.checkbox,
    &.radio-inline,
    &.checkbox-inline {
        label {
            color: $red;
        }
    }
}

.padding-top {
    padding-top: 7px;
    &.x2 {
        padding-top: 14px;
    }
    &.x3 {
        padding-top: 21px;
    }
}

.padding-bottom {
    padding-bottom: 7px;
    &.x2 {
        padding-bottom: 14px;
    }
    &.x3 {
        padding-bottom: 21px;
    }
    .control-label {
        font-weight: 600;
        &.text-left {
            text-align: left;
        }
    }
}

input[type="text"],
textarea,
input.filter-textbox {
    border-radius: 8px!important;
    border: 1px solid #EBEBEB;
    background: #FFFFFF!important;
    outline: none;
    shadow: none;
}

.form-control {
    display: block;
    width: 100%!important;
    height: 40px;
    padding-right: 15px!important;
    padding-left: 15px!important;
    font-size: 14px!important;
    font-family: 'Open Sans', sans-serif !important;
    background: #fff!important;
    color: #030303!important;
    background-image: none!important;
    border: 1px solid #f0f0f0!important;
    border-radius: 8px!important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
}