@charset 'UTF-8';
.channel-header {
    @include flex(0 0 58px);
    border-left: none;
    border-bottom: 1px solid #F0F0F0;
    font-size: 14px;
    width: 100%;
    background: #FFFFFF!important;
    .member-popover__trigger,
    .pinned-posts-button {
        cursor: pointer;
        display: inline-block;
        margin-left: 7px;
        min-width: 30px;
        text-align: center;
        color: #7F7F7F;
        font-size: 1.5rem;
        font-family: 'EkMukta-ExtraBold';
        white-space: nowrap;
        .fa {
            font-size: 16px;
        }
    }
    .member-popover__container,
    .member-popover__trigger {
        display: inline;
    }
    .member-popover__trigger {
        &:hover {
            color: #000 !important;
        }
        .fa {
            margin-left: 8px;
            color: #BDBDBD!important;
            &:before {
                color: #BDBDBD!important;
            }
        }
        &:hover .fa {
            color: #000000!important;
            &:before {
                color: #000000!important;
            }
        }
    }
    .pinned-posts-button svg {
        position: relative;
        top: 2px;
        fill: #BDBDBD !important;
        &:hover {
            fill: #000000 !important;
        }
    }
    &.alt {
        margin: 0;
        th {
            font-weight: normal !important;
            &.header-list__right {
                padding-right: 4px;
                visibility: hidden;
            }
        }
        td {
            border: none;
        }
    }
    th {
        text-align: center;
        &:first-child {
            border-left: none;
            padding-left: 15px;
            padding-right: 1em;
            text-align: left !important;
            width: 100%;
        }
        &:last-child {
            padding-right: 6px;
            width: 8.9%;
        }
    }
    td {
        font-size: 13px;
        padding: 5px 25px 5px !important;
        text-align: center !important;
        &:first-child {
            text-align: left !important;
        }
    }
    .heading {
        display: inline-block;
        font-size: 24px;
        font-family: 'EkMukta-Light';
        margin: 0 4px 0 0;
        max-width: 100%;
        font-weight: 100;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        color: #030303 !important;
    }
    .caret {
        margin-top: 3px;
    }
    .more {
        color: #81848b;
        display: inline-block;
        font-size: 13px;
        text-transform: capitalize;
        vertical-align: top;
    }
    .disabled {
        color: #999999;
    }
}

.row {
    &.header {
        position: relative;
        .channel__wrap & {
            display: none;
        }
    }
}

.header-dropdown__icon {
    color: inherit;
    font-size: 12px;
    margin-left: 1px;
    position: relative;
    top: 1px;
    &:before {
        font-size: .9rem;
        top: -1px;
        position: relative;
        color: #FFFFFF;
        display: none;
    }
}

.channel-header__info {
    display: table;
    table-layout: fixed;
    width: 100%;
    >div {
        display: block;
        white-space: nowrap;
        word-break: break-word;
        &.dropdown {
            float: left;
            max-width: 90%;
            padding-right: 1em;
            .header-dropdown__icon {
                color: $dark-gray;
            }
            a {
                text-decoration: none;
            }
            .modal {
                white-space: normal;
            }
        }
        &.description {
            margin-top: 2px;
            max-height: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            .markdown-inline-img {
                max-height: 45px;
            }
        }
        &.popover {
            white-space: normal;
        }
        .status {
            width: 18px;
            svg {
                max-height: 20px;
                width: 16px;
            }
        }
    }
}

.channel-intro {
    // border-bottom: 1px solid $light-gray;
    .post-profile-img__container {
        padding-top: 70px;
    }

    margin: 0 auto 15px;
    padding: 0 11% 50px 3.5%;
    &.channel-intro--centered {
        max-width: 1020px;
    }
    &.default-public-channel {
        background: url(https://s3.ap-south-1.amazonaws.com/1thing-logos/dots.png) left top repeat-x;
        background-size: 100%;
    }
    .wrap_links {
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        font-family: OpenSans-Semibold;
        font-size: 12px;
        color: #030303;
    }
    .intro-links {
        display: inline-block;
        padding: 10px 4em 10px 20px;
        width: auto;
        display: none;
        border-radius: 6px;
        background: #FFFFFF;
        i {
            color: #030303!important;
        }
        a span {
            color: #030303!important;
            font-size: 12px!important;
            font-weight: bold;
        }
        .fa {
            margin-right: 5px;
        }
    }
    .space_for_loading_image {
        margin-top: 50px;
    }
    .channel-intro-profile {
        margin-top: 5px;
        .user-popover {
            max-width: calc(100% - 100px);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .channel-intro-img {
        .status-wrapper {
            height: 50px;
            margin: 0 10px 10px 0;
        }
        img {
            @include border-radius(100px);
        }
    }
    .channel-intro__title {
        font-size: 32px; // font-weight: 600;
        padding-top: 70px!important;
        margin-top: 0px;
        margin-bottom: 15px;
        color: #030303!important;
        font-family: "EkMukta-Light";
    }
    .channel-intro__content {
        // @include border-radius(3px);
        background: transparent!important;
        padding: 8px 0px;
        color: #030303 !important;
        font-size: 18px !important;
        line-height: 28px;
        font-family: 'EkMukta-ExtraLight';
    }
    .oh-hello-there.hide-in-mobile {
        margin: 40px 0;
        img {
            max-width: 100%;
        }
    }
    .oh-hello-there.hide-in-desktop {
        margin: 40px 0;
        text-align: left;
        img {
            max-width: 240px;
        }
    }
}

// Team Header in Sidebar
.sidebar--left,
.sidebar--menu,
.admin-sidebar {
    .divider {
        border-top: 1px solid transparent;
        margin: 0.5em 0;
        &+.divider {
            display: none;
        }
    }
    .team__header {
        @include legacy-pie-clearfix;
        @include display-flex();
        @include flex-direction(row-reverse);
        @include legacy-pie-clearfix;
        padding: 9px 10px;
        position: relative;
        background: transparent !important; // background-image: linear-gradient(-128deg, #242222 0%, #030303 100%)!important;
        // border-bottom: 1px solid #F0F0F0;
        &:before {
            @include single-transition(all, .05s, linear);
            background: none;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        } // &:hover {
        //     &:before {
        //         @include alpha-property(background, $black, .1);
        //     }
        //     .user__name {
        //         color: $white;
        //     }
        //     .sidebar-header-dropdown {
        //         .sidebar-header-dropdown__toggle {
        //             @include opacity(1);
        //         }
        //     }
        //     .navbar-right {
        //         .dropdown-toggle {
        //             @include opacity(1);
        //         }
        //     }
        // }
        a {
            text-decoration: none;
            @include flex-grow(1);
        }
        .sidebar-header-dropdown,
        .admin-navbar-dropdown {
            font-size: .85em;
            left: 0;
            margin-right: -15px;
            position: absolute;
            right: 22px;
            top: 10px;
            z-index: 5;
            li {
                width: 100%;
            }
            .sidebar-header-dropdown__toggle,
            .admin-navbar-dropdown__toggle {
                @include opacity(.8);
                @include single-transition(all, .1s, linear);
                background: none;
                color: $white;
                display: block;
                font-size: 1em;
                height: 40px;
                left: 0;
                line-height: 1.8;
                padding: 10px;
                width: 100%;
            }
            .dropdown-menu {
                margin-right: 3px;
                margin-top: 4px;
                width: 199px;
                a {
                    overflow: hidden;
                    padding: 3px 20px;
                    text-overflow: ellipsis;
                }
            }
            .sidebar-header-dropdown__icon,
            .admin-navbar-dropdown__icon {
                fill: #BDBDBD;
                float: right;
            }
        }
        .user__picture {
            @include border-radius(36px);
            float: left;
            height: 36px;
            margin-right: 6px;
            width: 36px;
        }
        .header__info {
            overflow: hidden;
            -webkit-flex-grow: 1;
            flex-grow: 1;
            color: #fff;
            padding-left: 8px;
            position: relative;
        }
        .team__name,
        .user__name {
            width: 100%;
            display: block;
            font-size: 16px;
            font-weight: 400;
            max-width: 85%;
            overflow: hidden;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .team__name {
            float: left;
            line-height: 22px;
            margin-top: -2px;
            text-transform: uppercase; // letter-spacing: 8px;
            font-family: 'EkMukta-Regular';
            font-size: 24px;
            color: #FFFFFF!important;
            padding: 5px 0;
        }
        .user__name {
            @include single-transition(all, .1s, linear);
            @include alpha-property(color, $white, .8);
            font-size: 18px;
            color: #FFFFFF!important;
            font-family: 'EkMukta-Light'; // font-weight: 400;
            line-height: 18px;
        }
    }
    .search__clear {
        display: none;
    }
}

#navbar {
    .navbar-default {
        .navbar-toggle {
            &.menu-toggle {
                padding: 0 1em;
            }
        }
    }
}

.channel-header__navbar {
    font-size: 16px;
    .heading {
        margin-right: 3px;
    }
    .header-dropdown__icon {
        top: 1px;
    }
}

.channel-header__favorites {
    float: left;
    margin: 1px 10px 0 0;
}

.channel-header__icon {
    visibility: hidden !important;
}

.app__body {

    .channel-header__links {
        visibility: hidden;
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        height: 30px;
        line-height: 26px;
        margin-right: 3px;
        text-align: center;
        width: 30px;
        th {
            &:last-child {
                div {
                    margin-right: 10px;
                }
            }
        }
        .channel__wrap.move--left &,
        .channel__wrap.webrtc--show & {
            position: absolute;
            right: -400px;
            top: 14px;
        }
        .icon__flag {
            svg {
                height: 19px;
                position: relative;
                top: 2px;
                fill: #BDBDBD;
                width: 19px;
            }
        }
        >a {
            // @include opacity(.6);
            @include single-transition(all, .1s, ease-in);
            color: #BDBDBD!important;
            fill: #BDBDBD!important;
            text-decoration: none;
            &:hover {
                // @include opacity(1);
                color: #000000!important;
                svg {
                    fill: #000000!important;
                }
            }
            &:focus {
                color: #000000!important;
                fill: #000000!important;
            }
        }
    }
}

.channel-header.alt th {
    vertical-align: top;
}

#channel-header {
    line-height: 56px;
}

.channel-header__description {
    visibility: hidden;
    display: none;
}


#channelEditHeader,
#channelEditPurpose,
#channelDelete {
    display: none;
}
