@charset 'UTF-8';
.custom-textarea {
    background: transparent;
    border: 1px solid #cccccc;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    min-height: 36px;
    overflow-x: hidden;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    color: #030303;
    &:focus {
        border-color: #cccccc;
        box-shadow: none;
    }
}

.bad-connection {
    background: #ffffac !important;
    color: #d04444 !important;
}

.textarea-wrapper {
    min-height: 36px;
    position: relative;
    .textbox-preview-area {
        box-shadow: none;
        left: 0;
        position: absolute;
        top: 0;
        white-space: normal;
        z-index: 2;
    }
    .help__text {
        bottom: -14px;
        cursor: pointer;
        font-size: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        z-index: 3;
        a span {
            color: #030306!important;
            font-size: 10px!important;
            font-weight: bold!important;
        }
        .textbox-help-link {
            display: none !important;
        }
    }
    .textbox-preview-link {
        margin-right: 8px;
    }
}

.help__format-text {
    opacity: 1 !important;
    @include single-transition(all, .5s, ease, .5s);
    display: inline-block;
    font-size: 10px;
    color: #7F7F7F;
    font-family: "EkMukta-Regular"; // margin-right: 10px;
    vertical-align: bottom;
    white-space: nowrap;
    b,
    i,
    span {
        margin: 0 2px;
        position: relative;
        top: -1px;
    }
    b {
        @include opacity(.9);
    }
    code {
        background: transparent;
        padding: 0;
    }
    .textbox-preview-link {
        cursor: pointer;
        font-size: 13px;
        margin-left: 15px;
    }
}

.date-separator,
.new-separator {
    padding: 0px 12% 0px 40px;
    height: 2em;
    margin: 10px 0 30px 0;
    position: relative;
    text-align: left;
    z-index: 0;
    &:before,
    &:after {
        content: '';
        display: none;
        height: 1em;
        left: 0;
        position: absolute;
        width: 100%;
    }
    &:before {
        bottom: 0;
    }
    &:after {
        top: 0;
    } // &.hovered--after {
    //     &:before {
    //         background: #f5f5f5;
    //         display: block;
    //     }
    // }
    // &.hovered--before {
    //     &:after {
    //         background: #f5f5f5;
    //         display: block;
    //     }
    // }
    .separator__hr {
        border-color: #030303!important;
        margin: 0;
        position: relative;
        bottom: -35px;
        z-index: 5;
    }
    .separator__text {
        // @include border-radius(8px); // background: #ffffff;
        color: #7F7F7F!important;
        font-family: 'EkMukta-Light';
        display: inline-block;
        font-size: 18px;
        line-height: 2em;
        padding: 0;
        position: relative;
        z-index: 5;
        background: none !important;
        text-align: left;
    }
}

.new-separator {
    .separator__hr {
        border-color: #22B541 !important;
    }
    .separator__text {
        color: #22B541 !important;
        font-weight: normal;
    }
}

.file-overlay {
    color: $white;
    font-size: em(20px);
    font-weight: 600;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 6;
    .overlay__indent {
        @include clearfix;
        @include alpha-property(background-color, $black, .6);
        height: 100%;
        position: relative;
    }
    &.center-file-overlay {}
    &.right-file-overlay {
        font-size: em(18px);
        .overlay__circle {
            height: 300px;
            margin: -150px 0 0 -150px;
            width: 300px;
        }
        .overlay__files {
            margin: 60px auto 15px;
            width: 150px;
        }
    }
    .overlay__circle {
        @include border-radius(500px);
        @include alpha-property(background, $black, .7);
        height: 370px;
        left: 50%;
        margin: -185px 0 0 -185px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        width: 370px;
    }
    .overlay__files {
        display: block;
        margin: 75px auto 20px;
    }
    .overlay__logo {
        @include opacity(.3);
        bottom: 30px;
        left: 50%;
        margin-left: -50px;
        position: absolute;
    }
    .fa {
        display: inline-block;
        font-size: 1.1em;
        margin-right: 8px;
    }
}

#post-list {
    @include flex(1 1 auto);
    height: 100%;
    overflow-y: hidden;
    position: relative;
    .inactive {
        display: none;
    }
    .post-list-holder-by-time {
        -webkit-overflow-scrolling: touch;
        background: #FFFFFF!important;
        height: 100%;
        overflow-y: scroll;
        padding: 0em 0 1em 0;
        position: absolute;
        width: 100%;
        &.active {
            display: inline;
        }
    }
    .more-messages-text {
        border: none;
        display: block;
        font-size: 13px;
        margin: 15px 0 10px;
        outline: none;
        text-align: center; // text-decoration: underline;
        color: #0D65D8 !important;
        font-family: "EkMukta-Regular";
        span {
            border: 1px solid #F0F0F0;
            border-radius: 29px;
            padding: 4px 19px;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                background: #fafafa;
            }
        }
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
    .new-messages__button {
        @include opacity(0);
        bottom: 0;
        font-size: 13.5px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        visibility: hidden;
        z-index: 1;
        .fa {
            font-size: 1.2em;
            font-weight: bold;
            margin-right: .5rem;
            position: relative;
            top: 1px;
            color: #FFF !important;
        }
        div {
            @include border-radius(50px);
            cursor: pointer;
            display: inline-block;
            background: #000 !important;
            font-size: 12px;
            padding: 5px 10px;
            box-shadow: 0px 1px 1px 1px rgba(109, 109, 109, 0.5);
        }
        &.visible {
            @include opacity(1);
            visibility: visible;
        }
        &.disabled {
            display: none;
        }
    }
}

.post-list__timestamp {
    @include opacity(0);
    @include single-transition(all, .6s, ease);
    @include translateY(-45px);
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 100%;
    z-index: 50;
    &.scrolling {
        @include translateY(0);
        @include opacity(.9);
    }
    &.rhs {
        top: 98px;
    }
    >div {
        @include border-radius(3px);
        @include font-smoothing(initial);
        background: $primary-color;
        border: 1px solid;
        color: $white;
        display: inline-block;
        font-size: 12px;
        line-height: 25px;
        padding: 0 8px;
        text-align: center;
    }
}

.post-list__arrows {
    @include opacity(0);
    @include single-transition(all, .6s);
    background-repeat: no-repeat;
    bottom: 0;
    display: none;
    fill: #444444;
    height: 40px;
    left: 9px;
    position: absolute;
    text-align: center;
    width: 40px;
    z-index: 50;
    display: none !important;
    svg {
        color: inherit;
        height: 28px;
        width: 28px;
    }
    &.scrolling {
        @include opacity(1);
        display: block;
    }
}

.post-create__container {
    background: #FFFFFF!important;
    border-top: 1px solid #F0F0F0;
    .emoji-icon-in-create-post {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .icon--emoji-picker {
        position: absolute;
        right: 10px;
        top: 4px;
        cursor: pointer;
        font-size: 24px;
        width: 30px;
        height: 30px;
    }
    .btn-file {
        overflow: visible;
    }
    .emoji-picker {
        position: absolute;
        top: -361px;
        right: 0;
    }
    label {
        font-weight: normal;
    }
    .custom-textarea {
        overflow: hidden;
    }
    form {
        margin: 0 auto;
        padding: .5em 12% 10px 3%;
        width: 100%;
    }
    .center {
        max-width: 1028px;
    }
    .post-create {
        &.scroll {
            .btn-file {
                right: 10px;
            }
            .custom-textarea {
                -ms-overflow-style: auto;
                overflow: auto;
                padding-right: 43px;
            }
        }
    }
    .post-create-body {
        padding: 0px;
        position: relative;
        .post-body__cell {
            position: relative;
            vertical-align: top;
        }
        .send-button {
            @include single-transition(all, .15s);
            cursor: pointer;
            display: none;
            font-size: 18px;
            height: 37px;
            line-height: 37px;
            padding-right: 4px;
            text-align: center;
            vertical-align: bottom;
            width: 45px;
            &:active {
                @include opacity(.75);
            }
            &.disabled {
                color: grey;
            }
        }
        .custom-textarea {
            bottom: 0;
            max-height: 162px !important;
            min-height: 48px;
            padding-left: 45px !important;
            padding-right: 50px !important;
            padding-top: 9px;
            padding-bottom: 0px;
            line-height: 30px;
            vertical-align: middle;
            border: none !important;
            border-radius: 8px !important;
            background-color: #FFFFFF !important;
            font-size: 18px !important;
            color: #030303 !important;
            font-family: 'EkMukta-Light', sans-serif !important;
        }
        .textarea-div {
            line-height: 1.5;
            max-height: 163px !important;
            overflow: auto;
            padding-right: 30px;
            padding-top: 8px;
        }
        .btn-file {
            @include opacity(.8);
            @include single-transition(all, .15s);
            font-size: 16px;
            border-radius: 6px 0 0 6px;
            padding: 5px 10px 6px 14px;
            position: absolute;
            left: 2px;
            width: 40px;
            cursor: pointer;
            top: 5px;
            z-index: 5;
            max-width: 40px;
            overflow: hidden;
            .icon--attachment {
                top: -1px;
                position: relative;
                left: -2px;
            }
            img {
                cursor: pointer;
                height: 28px;
                /* width: 18px; */
                opacity: 1;
                max-width: 19px;
            }
            &:hover,
            &:active {
                box-shadow: none;
                cursor: pointer;
                background: none !important;
            }
            &.btn-file__disabled {
                @include opacity(.1);
                &:hover,
                &:active {
                    @include opacity(.1);
                }
            }
        }
        textarea {
            box-shadow: none;
        }
    }
    .post-create-footer {
        @include clearfix;
        font-size: 13px;
        padding: 3px 0 0;
        position: relative;
        .post-error {
            @include opacity(.55);
            display: inline-block;
            font-size: .85em;
            font-weight: normal;
            margin-bottom: 0;
            position: absolute;
            top: 4px;
        }
    }
    .msg-typing {
        // @include opacity(.7);
        display: block;
        font-size: 10px; // height: 20px;
        // margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "EkMukta-Regular";
        color: #030303;
        float: left;
        height: 14px;
        bottom: 3px;
        position: relative;
    }
}

.post-list__table {
    display: table;
    height: 100%;
    min-height: 350px;
    table-layout: fixed;
    width: 100%; // max-width: 845px;
    // padding-left: 10px;
    .post-list__content {
        display: table-cell;
        vertical-align: bottom;
        padding: 0;
        .dropdown-menu {
            &.bottom {
                bottom: 19px;
                top: auto;
            }
        }
    }
}

.post {
    @include legacy-pie-clearfix;
    max-width: 100%;
    padding: 0;
    position: relative;
    word-wrap: break-word;
    margin-bottom: 10px;
    &.post--system {
        .post__header {
            .col__reply {
                min-width: 0;
                padding: 5px 15px 5px 1px;
            }
            .dropdown {
                margin-right: 0;
                border: none;
            }
        }
    }
    &:hover {
        background: #FAFAFA !important;
        .post__body {
            background: #FAFAFA !important;
        }
        .dropdown,
        .comment-icon__container,
        .flag-icon__container,
        .reacticon__container,
        .post__reply,
        .post__remove {
            visibility: visible;
        }
        .permalink-icon {
            visibility: visible;
        }
    }
    &.post--hovered {
        .dropdown,
        .comment-icon__container,
        .post__reply,
        .reacticon__container,
        .post__remove,
        .permalink-icon {
            visibility: visible;
        }
        .post__body {
            background: #FAFAFA !important;
        }
    }
    &.post--highlight {
        background-color: beige;
    }
    &.post--hide-controls {
        .post__header {
            .col__reply {
                display: none;
            }
        }
    }
    &.post--compact {
        &.post--thread {
            .post__header {
                padding-top: 3px;
            }
        }
        &.post--system {
            .status {
                visibility: hidden;
            }
        }
        .post__img {
            padding-top: 0;
        }
        .status-wrapper {
            cursor: auto;
            height: 14px;
            pointer-events: none;
            .status {
                bottom: auto;
                height: 13px;
                left: -2px;
                position: relative;
                right: auto;
                top: auto;
                width: 13px;
            }
            svg {
                top: 1px;
            }
            &:after {
                bottom: 0;
            }
        }
        blockquote {
            font-size: 1em;
            margin-left: 0;
            margin-top: 1.3em;
            padding: 3px 0 0 25px;
            vertical-align: top;
            &:before {
                font-size: 15px;
                left: 4px;
                top: 2px;
            }
        }
        .search-item-snippet {
            blockquote {
                margin-top: 0;
            }
        }
        .markdown__heading {
            clear: both;
            margin: 7px 0;
        }
        .post__header {
            height: 22px;
        }
        .post__body {
            background: transparent !important;
            line-height: 1.6;
            margin-top: -1px;
            padding: 3px 0;
            .img-div {
                max-height: 150px;
                max-width: 150px;
            }
            p {
                line-height: inherit;
            }
            p+p {
                margin-bottom: 1em;
                margin-top: 1em;
            }
            ol,
            ul {
                clear: both;
                padding-left: 20px;
            }
        }
        .post-image__column {
            @include border-radius(2px);
            font-size: .9em;
            height: 26px;
            margin: 0px!important;
            line-height: 25px;
            padding: 0 7px;
            width: auto;
            .post-image__thumbnail {
                display: none;
            }
            .post-image__details {
                background: transparent;
                border: none;
                display: none;
                padding: 0;
                width: 100%;
                svg {
                    display: inline-block;
                    height: 13px;
                    margin: 5px 4px 0 0;
                    opacity: .5;
                    position: relative;
                    vertical-align: top;
                    width: 13px;
                }
                >div {
                    display: none;
                }
            }
            .post-image__name {
                @include clearfix;
                display: block;
                margin: 0;
                padding-right: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                i {
                    font-size: .9em;
                    margin-right: 5px;
                    opacity: .5;
                }
            }
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .post__img {
            padding-top: 3px;
            width: 16px;
            img {
                display: none;
            }
        }
    }
    .post__img:hover {
        cursor: pointer;
    }
    .post--fail {
        position: relative;
    }
    .post--edited {
        // If the last paragraph of an edited post is a paragraph, make it inline-block so that the (edited) indicator can be on the same line as it
        .post-message__text>p:last-child {
            display: inline-block;
        }
        .post-edited-indicator {
            @include opacity(.6);
            font-size: .87em;
        }
    }
    p,
    ol li,
    ul li {
        font-size: 18px;
        line-height: 30px;
        margin: 0;
        color: #030303;
        white-space: pre-wrap;
        word-break: break-word;
        font-family: "EkMukta-Light";
        font-weight: lighter;
    }
    .post__header--info {
        padding: 0;
    }
    &.post--root {
        .comment-icon__container {
            visibility: visible;
        }
    }
    &.post--comment {
        .post__body {
            // border-left: 4px solid $gray!important;
            padding-left: 14px;
            margin-left: 0px;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 0;
                border-radius: 4px;
                position: absolute;
                height: 0;
                border: 2px solid rgba(127, 127, 127, 0.2);
                position: absolute;
                height: 80%;
                left: 2px;
                top: 10%;
            }
            &.mention-comment {
                border-left: 4px solid $yellow;
                border-color: $yellow;
            }
        }
    }
    &.same--root {
        &.same--user {
            padding: 0;
            &:hover,
            &.post--hovered {
                .post__time {
                    @include opacity(.5);
                    left: -6px !important;
                    top: 3px !important;
                    font-size: 10px !important;
                }
            }
            .flag-icon__container {
                left: 46px;
                margin-left: 6px;
                position: absolute;
                top: 12px;
            }
            .post__img {
                .status-wrapper {
                    display: none;
                }
                img {
                    display: none;
                }
            }
            .post__header {
                height: 0;
                margin: 0;
                .col__name {
                    display: none;
                }
                .col__reply {
                    top: -15px !important;
                }
            }
        }
        &.post--comment {
            .post__link {
                display: none;
            }
            &.same--user {
                .post__img {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    &.other--root {
        .comment-icon__container {
            &.icon--show {
                visibility: visible;
            }
        }
        &.post--comment {
            .popover {
                margin-top: 84px;
                >.arrow {
                    top: 21px !important;
                }
            }
            .post__header {
                .col__reply {
                    right: 3%;
                    top: -15px;
                }
            }
        }
    }
    .post__content {
        display: table;
        margin: 0 auto;
        padding: 16px 8.8% 10px 30px;
        position: relative;
        table-layout: fixed;
        width: 100%;
        >div {
            display: table-cell;
            vertical-align: top;
        }
    }
    .center {
        max-width: 1000px;
    }
    .post__header {
        list-style: none;
        margin-bottom: 2px;
        padding: 0;
        .col {
            display: inline-block;
            vertical-align: top;
        }
        .col__name {
            font-weight: 600;
            margin-right: 4px;
            float: left;
            .user-popover {
                @include clearfix;
                overflow: hidden;
                max-width: 200px;
                font-weight: lighter;
                font-size: 14px;
                text-overflow: ellipsis;
                vertical-align: top;
                white-space: nowrap;
                color: #030303;
                font-family: 'EkMukta-Light';
                text-transform: unset;
                &:after {
                    content: ",";
                }
            }
            .colon {
                display: none;
                font-weight: 900;
                margin-left: 2px;
            }
        }
        .col__reply {
            border: none;
            border-radius: 8px;
            min-width: 70px;
            padding: 5px 15px;
            position: absolute;
            right: 3%;
            top: -15px;
            white-space: nowrap;
            a:hover,
            a:focus {
                text-decoration: none!important;
                color: #000000!important;
                fill: #000000!important;
            }
        }
        .col__remove {
            position: absolute;
            right: 10px;
        }
        .permalink-popover {
            min-width: 0;
            .popover-content {
                padding: 5px;
            }
            .form-control,
            .btn {
                font-size: 13px;
                height: 30px;
                line-height: 30px;
                padding: 0 8px;
            }
        }
    }
    .post__img {
        padding-right: 10px;
        text-align: right;
        width: 53px;
        .icon {
            svg {
                height: 32px;
                width: 32px;
            }
        }
        path {
            fill: inherit;
        }
        img {
            @include border-radius(50px);
            height: 32px;
            vertical-align: inherit;
            width: 32px;
            max-width: none;
        }
    }
    .post__embed-container {
        @include single-transition(max-height, .5, ease);
        display: block;
        max-height: 1000px;
        overflow: hidden;
        &[hidden] {
            max-height: 0;
        }
    }
    .dropdown {
        display: inline-block;
        margin-left: 5px;
        padding-left: 11px;
        border-left: 1px solid #F0F0F0;
        top: -1px;
        visibility: hidden;
        .dropdown-menu {
            left: auto;
            background: #FFFFFF!important;
            min-width: 130px;
            padding: 2px 0;
            right: 0;
            top: 20px;
            li {
                display: block;
                &.pin_this_post {
                    display: none;
                }
            }
            a {
                padding: 5px 15px;
            }
        }
    }
    .post__dropdown {
        &:after {
            content: '...';
            position: relative;
            top: -3px;
            color: #BDBDBD;
            font-weight: bolder;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 2px;
        }
    }
    .post__remove {
        @include opacity(.5);
        color: inherit;
        display: inline-block;
        float: right;
        font-family: 'Open sans-serif', sans-serif;
        font-size: 20px;
        font-weight: 600;
        height: 20px;
        line-height: 20px;
        position: relative;
        right: -10px;
        text-decoration: none;
        vertical-align: top;
        visibility: hidden;
        width: 20px;
        &:hover {
            @include opacity(.8);
        }
    }
    .post__body {
        @include legacy-pie-clearfix;
        padding: 0em 5em 0 0;
        background: transparent !important;
        width: 100%;
        word-wrap: break-word;
        clear: both;
        div {
            // margin-bottom: .4em;
        }
        p+p {
            margin: 1.2em 0 0;
        }
        img {
            max-height: 400px;
        }
        ul,
        ol {
            font-size: 13.5px;
            margin-bottom: .4em;
            padding-left: 20px;
            p {
                margin-bottom: 0;
            }
            li {
                ul,
                ol {
                    font-size: 1em;
                    margin: 0;
                    padding: 0 0 0 20px;
                }
            }
            li.list-item--task-list ul,
            li.list-item--task-list ol {
                margin-left: 20px;
            }
            li.list-item--task-list ul {
                padding-left: 0;
            }
            li:not(.list-item--task-list) li.list-item--task-list,
            li:not(.list-item--task-list) li.list-item--task-list~li {
                margin-left: -20px;
            }
            li input[type='checkbox']:disabled {
                cursor: default;
                vertical-align: top;
            }
        }
        ul li.list-item--task-list,
        ul li.list-item--task-list~li {
            list-style-type: none;
        }
        ul li.list-item--task-list~li:not(.list-item--task-list) {
            text-indent: 3px;
            &:before {
                content: '\2022';
                margin-right: 8px;
            }
        }
        ul+p,
        ol+p {
            margin-top: 1em;
        }
        p+ul,
        p+ol {
            margin-top: 1em;
        }
        .pending-post-actions {
            // background: alpha-color($black, .7);
            color: #fff;
            font-size: .9em;
            padding: 5px 7px;
            position: absolute;
            width: 300px;
            left: -15px;
            bottom: -30px;
            z-index: 100;
            a.post-retry {
                font-size: 11px;
                color: #22B541 !important;
            }
            a.post-cancel {
                font-size: 11px;
                color: #a5a5a5 !important;
            }
        }
        .post-reaction-list {
            // min-height: 30px;
        }
        .post-reaction {
            @include user-select(none);
            @include border-radius(3px);
            border: 1px solid $primary-color;
            cursor: pointer;
            display: inline-block;
            font-size: 11px;
            height: 23px;
            margin-bottom: 5px;
            margin-right: 5px;
            padding: 0 4px 0 3px;
            .post-reaction__emoji {
                margin: 2px 3px 0 0;
                max-height: 16px;
                max-width: 16px;
                vertical-align: middle;
            }
            .post-reaction__count {
                line-height: 10px;
                position: relative;
                top: 3px;
            }
            &--current-user {
                .post-reaction__count {
                    font-weight: 600;
                }
            }
        }
    }
    .post__link {
        font-size: 14px;
        margin: 2px 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
            font-weight: bold;
        }
        a.theme {
            color: #0D65D8;
            font-family: "EkMukta-Light";
        }
    }
    .post__embed-visibility {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        margin: 0;
        text-rendering: auto;
        &.pull-left {
            margin: 5px 5px 0 0;
        }
        &:hover {
            text-decoration: none;
        }
        &:before {
            content: '\f065';
            font-size: 14px;
        }
        &[data-expanded='true']:before {
            content: '\f066';
        }
    }
    .post__time {
        font-size: 14px !important;
        color: #7F7F7F !important;
        font-family: 'EkMukta-Light';
        line-height: 14px;
        top: -1px;
        position: relative;
        text-transform: lowercase;
    }
    .post__permalink {
        color: inherit;
        &:hover,
        &:focus {
            color: inherit;
        }
        &:focus {
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .post-loading-gif {
        height: 10px;
        margin-top: 6px;
        width: 10px;
    }
    .post-fail {
        color: #d58a8a;
    }
    .post-waiting {
        color: #999999;
    }
    .permalink-icon {
        color: $primary-color;
        display: inline-block;
        visibility: hidden;
    }
    .post__reply {
        display: inline-block;
        margin-right: 6px;
        visibility: hidden;
        svg {
            fill: inherit;
            position: relative;
            top: 3px;
            width: 18px;
        }
    }
    .reacticon__container {
        visibility: hidden;
        display: inline-block;
        margin-left: 5px;
        padding-left: 11px;
        padding-right: 5px;
        border-left: 1px solid #F0F0F0;
    }
    .comment-icon__container {
        display: inline-block;
        fill: $primary-color;
        visibility: hidden;
        &:focus {
            outline: none;
        }
        &.icon--visible {
            visibility: visible;
        }
        svg {
            height: 17px;
            width: 17px;
        }
        .comment-icon {
            display: inline-block;
            fill: inherit;
            color: #BDBDBD!important;
            margin-right: 8px;
            position: relative;
            top: 2px;
            svg {
                fill: #BDBDBD!important;
            }
            &:hover {
                svg {
                    fill: #000000!important;
                }
            }
        }
        path {
            fill: inherit;
        }
    }
    .flag-icon__container {
        display: inline-block;
        display: none;
        font-size: 12px;
        margin-left: 7px;
        position: relative;
        top: 1px;
        visibility: hidden;
        &.visible {
            visibility: visible;
        }
        path {
            fill: inherit;
        }
        .fa-star-o {
            @include opacity(.8);
        }
        &:focus {
            outline: none;
        }
        &.icon--visible {
            visibility: visible;
        }
    }
    .web-embed-data {
        @include border-radius(2px);
        @include alpha-property(background, $black, 0.05);
        height: 50px;
        overflow: hidden;
        padding: 2px 0 0 10px;
        text-overflow: ellipsis;
        .embed-title {
            color: #555555;
            font-weight: 600;
            margin: 3px 0 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .embed-description {
            color: #888888;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .embed-link {
            display: none;
        }
    }
}

.bot-indicator,
.post__pinned-badge {
    border-radius: 2px;
    float: left;
    font-family: inherit;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 4px;
}

.bot-indicator {
    margin: 2px 10px 0 2px;
}

.post__pinned-badge {
    margin-left: 7px;
    position: relative;
    top: -1px;
}

.permalink-text {
    overflow: hidden;
}

.permalink-popover {
    margin-left: 50px !important;
    min-width: 320px;
}

.app__body .post.current--user .post__body {
    // background: #FFFFFF !important; // border-radius:8px 8px 0 0;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    // border: 1px solid #F0F0F0!important;
    // border-radius: 8px; // margin-bottom: 2px;
    float: left;
    width: auto;
    background: transparent !important;
}

.app__body .post .post__body {
    // background: #FFFFFF !important;
    // border: 1px solid #F0F0F0!important; // border-radius:8px 8px 0 0;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    // border-radius: 8px; // margin-bottom: 2px;
    float: left;
    width: auto;
    background: transparent !important;
}

.app__body .post.post--comment .post__body {
    margin-left: 0px; // border: 1px solid #F0F0F0!important; // border-left: 4px solid #BFBFBF!important;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 0px;
    background: transparent !important;
}

.post {
    &:hover {
        .col__reply {
            background: #FFFFFF!important;
        }
    }
}

.col__reply .dropdown:hover {
    a:after {
        color: #000000!important;
    }
}

.col__reply .comment-icon__container:hover {
    svg {
        fill: #000000!important;
    }
}

.same--user.same--root .post__content {
    padding: 0px 8.8% 0px 30px!important;
    margin-top: 1px;
}

.post__time:hover {
    text-decoration: none !important;
}

.post__header--info a:hover {
    text-decoration: none !important;
}

.post__header--info a:hover svg {
    fill: #000000!important;
}

.post a.markdown__link {
    color: #0D65D8 !important;
}


span.post-message__text>p>span>span {
    color: rgb(22, 109, 224) !important;
}

.post .post__header--info .post__permalink:hover {
    text-decoration: none !important;
}
