.multi-teams {
    .team-sidebar {
        height: 100%;
        left: 0;
        position: fixed;
        text-align: center;
        width: 72px;
        z-index: 5;
        background: #285674!important;
        background-image: linear-gradient(40deg, #43C6AC 0%, #191654 100%)!important;
        border-right: 1px solid rgba(0, 0, 0, 0.03)!important;
        .team-wrapper {
            -webkit-overflow-scrolling: touch; // background-color: alpha-color($black, .2);
            height: 100%;
            overflow: auto; // padding-top: 15px;
            .team-container {
                display: table;
                margin: 20px 0;
                position: relative;
                text-align: center;
                width: 100%;

                a {
                    display: block;
                    margin-left: 15px;
                    text-decoration: none;
                }
                .team-btn {
                    display: table-cell;
                    font-size: 12px;
                    font-weight: bold; // padding: 4px 5px;
                    position: relative;
                    text-align: center;
                    vertical-align: top;
                    background: rgba(255, 255, 255, 0.1);
                    width: 40px;
                    height: 40px; // background: transparent;
                    color: rgba(255, 255, 255, 0.5) !important;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: 4px;
                    .team-btn__initials {
                        text-align: center;
                        font-family: "EkMukta-Light";
                        font-size: 24px;
                        color: rgba(255, 255, 255, 0.5);
                        line-height: 38px;
                        font-weight: 100;
                    }
                    .team-btn__content {
                        bottom: 4px;
                        font-size: 8.5px;
                        color: #FFF;
                        font-weight: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 31px;
                        display: none;
                    }
                    .badge {
                        font-size: 10px;
                        position: absolute;
                        right: -6px;
                        top: -3px;
                    }
                    &.team-btn__add {
                        height: 40px;
                        width: 40px;
                        vertical-align: middle;
                    }
                }
                &.active {
                    border-left: 2px solid #FFF;
                    a {
                        margin-left: 13px !important;
                    }
                    .team-btn {
                        // background-color: #FFFFFF;
                        font-family: 'EkMukta-Bold'; // border: none;
                        color: #030303 !important;
                        background: rgba(255, 255, 255, 0.2);
                        width: 40px;
                        height: 40px; // background: transparent;
                        color: rgba(255, 255, 255, 1) !important;
                        border: 1px solid rgba(255, 255, 255, 1);
                        background: #FFFFFF !important;
                        .team-btn__initials {
                            color: #030303 !important;
                        }
                    }
                    .team-btn__content {
                        color: #030303 !important;
                    }
                }
                &.unread {
                    .team-btn {
                        border:1px solid #FFFFFF;
                        background: rgba(255, 255, 255, 0.2);
                    }
                    .team-btn:after {
                        background: #EB444D !important;
                        border-radius: 50%;
                        border: 4px solid #FFF !important;
                        content: '';
                        height: 14px;
                        right: -5px;
                        position: absolute;
                        top: -5px;
                        width: 14px;
                    }
                }
                a.team-disabled {
                    @include opacity(.5);
                    cursor: not-allowed;
                }
            }
            .team-container a:hover {
                text-decoration: none;
            }
        }
    }
    .sidebar--left {
        left: 72px;
        .nav-pills__unread-indicator {
            left: 126px;
        }
    }
    .app__content {
        margin-left: 363px;
    }
}
